### Clojure ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.calva/
.clj-kondo/
.lsp/
### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Scala ###
*.log
**.metals
**metals.sbt
project/project
**.bloop
**.scala-build
### VisualStudioCode ###
**/.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
*.bsp
*.idea
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,macos,clojure,scala

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

# my cookies, go away
.cookie
